# Ambiente virtual
venv/
.venv/

# Cache python
__pycache__/
*.pyc

# Logs
*.log
logs/

# Banco local se existir
*.db

# Arquivos sensíveis
.env
.auth_cache/

# Dados (ignora somente planilhas)
data/*.xlsx
data/*.xls

# Se tiver exports / prints
exports/